html {
  font-family: Arial, sans-serif;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
}
footer ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
footer>ul {
  display: flex;
  flex-wrap: wrap;
}
footer>ul>li {
  flex-basis: 100%;
}
footer>ul>li:first-child {
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
}
footer>ul>li:first-child ul {
  flex-basis: 33.3%;
}
footer>ul>li:first-child ul li:first-child a {
  font-weight: bold;
  cursor: pointer;
}
footer>ul>li:nth-child(2){
  flex-basis: 30%;
}
footer>ul>li:nth-child(2) ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
footer>ul>li:last-child ul {
  display: flex;
}
footer>ul>li:last-child ul li:after {
  content: '|';
  color: red;
  padding: 0 5px;
}
footer>ul>li:last-child ul li:last-child:after {
  content: "";
}